<ion-tabs color="primary">
  <ion-tab [root]="homePage" tabTitle="Startseite" tabIcon="home"></ion-tab>
  <ion-tab [root]="songsPage" tabTitle="Liederbücher" tabIcon="musical-notes"></ion-tab>
  <ion-tab [root]="mapPage" [rootParams]="username" tabTitle="Karte" tabIcon="navigate"></ion-tab>
  <ion-tab [root]="chatPage" [rootParams]="username" tabTitle="Chat" tabIcon="chatboxes"></ion-tab>
</ion-tabs>
