<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login WOB-App</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-item>
    <ion-label floating>Email Adresse</ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Passwort</ion-label>
    <ion-input type="password" [(ngModel)]="user.pwd" (keyup.enter)="loginUser(user)"></ion-input>
  </ion-item>

  <button ion-button outline block (click)="loginUser(user)">Login</button>
  <!--<button ion-button color="secondary" outline  block (click)="registerUser(user)">Registrieren</button>-->

  <ion-card text-wrap>
    <ion-card-content>Falls Zugangsdaten erwünscht, bitte an Uwe wenden. Danke!</ion-card-content>
  </ion-card>



</ion-content>
