<!--
  Generated template for the SongtextPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" [hideBackButton]="false">
    <ion-title>{{song?.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding>
  <p style="white-space: pre-wrap">{{song?.text}}</p>

</ion-content>
