<ion-header>

  <ion-navbar color="primary">
    <ion-title>Walk of Bream {{ year }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>Countdown</h1>

  <ion-item text-center>
    {{startDate?.getTime() | date: 'dd.MM.yyyy | HH:mm'}}
  </ion-item>


  <span class="value">{{days}}</span> Tage<br><hr>
  <span class="value">{{hours}}</span> Stunden<br><hr>
  <span class="value">{{minutes}}</span> Minuten<br><hr>
  <span class="value">{{seconds}}</span> Sekunden<br><hr>
  <hr *ngIf="startFirework">

  <ion-img id="firework" src="../assets/imgs/firework.gif" *ngIf="startFirework"></ion-img>

</ion-content>
