<ion-header>

  <ion-navbar color="primary">
    <ion-title>Wo bisch aldr?</ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)="setCenter()"><ion-icon name="locate"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>


</ion-header>


<ion-content padding>

  <button ion-button full icon-left (click)="startTracking()" *ngIf="!isTracking">
    <ion-icon name="locate"></ion-icon>
    Start Tracking
  </button>

  <button ion-button full icon-left (click)="stopTracking()" *ngIf="isTracking">
    <ion-icon name="hand"></ion-icon>
    Stop Tracking
  </button>

  <div #map id="map"></div>

  <ion-list>
    <ion-list-header>Vorherige Routen
    <button item-end ion-button outline (click)="removeAllPreviousRoutes()">Clear Map</button> </ion-list-header>
    <ion-item-sliding *ngFor="let route of previousTracks">
      <button ion-item (click)="showHistoryRoute(route.path)">
        {{ route.finished | date : 'dd.MM.yyyy | HH:mm' }} Uhr
      </button>
      <button ion-button clear item-end (click)="showHistoryRoute(route.path)">View Route</button>
      <ion-item-options side="right" (ionSwipe)="deleteRoute(route)">
        <button ion-button color="danger" expandable (click)="deleteRoute(route)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
