page-chatroom {
  .innerMessage {
    display: inline-block;
    padding: 5px 10px;
    background: color($colors, primary);
    margin: 5px;
    border-radius: 10px;
    color: white;
  }

  .username {
    font-weight: bold;
    font-size: 80%;
  }

  .message {
    font-size: 120%;
  }

  .messageLeft {
    display: inline-block;
    padding: 5px 10px;
    background: color($colors, primary);
    margin: 5px;
    border-radius: 10px;
    color: white;
  }

  .messageRight {
    display: inline-block;
    padding: 5px 10px;
    background: color($colors, secondary);
    margin: 5px;
    border-radius: 10px;
    color: white;
    float: right;
  }

  .messageBox:after {
    content: '';
    display: block;
    clear: both;
  }
}
