<ion-header>

  <ion-navbar color="primary">
    <ion-title>WOB-Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="chatMessages">
    <div class="messageBox" *ngFor="let message of messages">
      <div class="innerMessage" [class]="message.username.toLowerCase() == username.toLowerCase() ? 'messageRight' : 'messageLeft'">
        <div class="username">{{ message.username }}:</div>
        <div class="message">{{ message.message }}</div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input class="text" type="text" placeholder="Nachricht" (keyup.enter)="sendMessage()" [(ngModel)]="message"></ion-input>
    <ion-buttons end>
      <button ion-button icon-only large (click)="sendMessage()"><ion-icon name="send"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>
