<ion-header>

  <ion-navbar color="primary">
    <ion-title>Liederbücher</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <button ion-item *ngFor="let song of songs" (click)="onShowSongtext(song)" >
      {{song.title}}
    </button>
  </ion-list>

</ion-content>
